body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.login-page {


  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout {

  margin-left: 160px;
  padding: 10px;
}

.layout-container {

  margin-top: 45px;
}

.sidebar-container {

  width: 160px;
  background-color: rgba(242, 241, 241, 0.589);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

}

.sidebar-arrow {
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

}

.sidebar-arrow span {
  font-weight: bold;
  font-size: 20px;
}

.sidebar-menu {

  margin-top: 40px;
  /* height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; */
  padding-left: 5px;
  padding-right: 5px;

}

.sidebar-menu-item {
  border: 1px solid rgba(128, 128, 128, 0.144);
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 10px;

}

.sidebar-menu-item-selected {
  border: 1px solid rgba(128, 128, 128, 0.087);
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
  background-color: rgb(152, 149, 149);
  margin-bottom: 10px;

}

.sidebar-menu-item a {
  margin-left: 5px;
}

.sidebar-menu-item-selected a {
  margin-left: 5px;
}

.sidebar-menu-item div {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

.sidebar-submenu-item {
  border: 1px solid rgba(128, 128, 128, 0.087);
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.sidebar-submenu-item-selected {
  border: 1px solid rgba(128, 128, 128, 0.087);
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(152, 149, 149);
}

.sidebar-submenu-item a {
  font-size: 15px;
  margin-left: 5px;
}

.sidebar-submenu-item-selected a {
  font-size: 15px;
  margin-left: 5px;
}